@model IEnumerable<TestMVC.Models.Producto>

@{
    ViewBag.Title = "Productos";
}

<h2>@ViewBag.Title</h2>

<center>
    <button class="btn btn-primary" onclick="location.href='@Url.Action("Create","Producto")'">Crear Nuevo</button>
    <br /><br />
</center>
<table class="tablas inicial00">
    <tr>
        <th>
            Descripci&oacute;n
        </th>
        <th>
            Marca
        </th>
        <th>
            Cantidad
        </th>
        <th>
            Costo
        </th>
        <th>
            Activo
        </th>
        <th>Opt</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.costo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.activo)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.id_producto }) |
            @Html.ActionLink("Ver", "Details", new { id=item.id_producto }) |
            @Html.ActionLink("Desactivar", "Delete", new { id=item.id_producto })
        </td>
    </tr>
}

</table>
