@model TestMVC.Models.Usuario

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm("Login", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="form-group">
        <label class="control-label col-md-1">Usuario</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.login, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.login, "", new { @class = "text-danger" })
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        @Html.LabelFor(model => model.clave, htmlAttributes: new { @class = "control-label col-md-1" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.clave, new { htmlAttributes = new { @class = "form-control", Type = "password" } })
            @Html.ValidationMessageFor(model => model.clave, "", new { @class = "text-danger" })
        </div>
    </div>
    <br /><br />
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <label class="btn btn-primary" onclick="enviar_data()">Login</label>
        </div>
    </div>
}

<h3 class="text-danger" id="msg">@ViewBag.Message</h3>
@section Scripts {
    @Scripts.Render("~/bundles/login")
}
